# Python virtual environment
.venv/

# PyInstaller build folders
build/
dist/*.exe
TimeOffCalendar_Distribution/
TimeOffCalendar.spec

# Compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/editor files
.vscode/
*.swp

# Excel test files
timeoff.xlsx

# Developer notes (not tracked in repo)
docs/DEVNOTES.md
